<header>
    <h1>Complete-Nes Collection</h1>
    <h2>For all your Nes Needs</h2>
    <%= link_to 'All Games', root_path %> - <%= link_to 'By Genre', genres_path %> - <%= link_to 'By Publisher', publishers_path %> - <%= link_to 'By Developer', developers_path %>
</header>