<section>
  <h3><%= @publisher.name %></h3> 
  <% @publisher.games.each do |game| %>
    <%= link_to game.name, game %>
    <br />
  <% end %>
</section>
<br />

<p><%= link_to 'Back', publishers_path %></p>