@import "bootstrap";
@import "bootstrap/theme";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    margin: auto;
    width: 850px;
    background-color: #E7E7E7;
    padding: 15px;
    border: black 2px solid;
}

#company_logo {
    color: red;
    font-family: fantasy;
    font-size: 40pt;
    font-weight: bolder;
    background-color: black;
}

#logo_heading {
    font-style: italic;
}

#search {
    float: right;
    margin-top: -40px;
}

nav#top_navigation ul li {
    display: inline;
    padding-right: 20px;
    margin-top: -30px;
}

nav#top_navigation ul li a:link,
nav#top_navigation ul li a:visited,{
    text-decoration: none;
    color: #3A66AB;
}

nav#top_navigation ul li a:hover,
nav#top_navigation ul li a:focus,{
    text-decoration: none;
    color: #3A66AB;
}