<h1>Search results for '<%= params[:search_keywords] %>'</h1>

<% if @found_games.empty? %>
  <p>No games found.</p>
<% end %>

<%= render partial: 'games/game',
           collection: @found_games %>
